
.home {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem;
  height: 70vh;
  background: url(https://images.unsplash.com/photo-1494537176433-7a3c4ef2046f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=80);
  background-repeat: no-repeat;
  background-size: cover;
}

.home .illustration .logo {
  width: 8rem;
  filter: brightness(0.5);
}

.home .content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 500px;
}

.home .content .text-head {
  text-transform: uppercase;
  padding-bottom: 1rem;
  color: #777;
}

.home .content .text-title {
  padding-bottom: 2rem;
  font-size: 2.0em;
}

.home .content p {
  padding-bottom: 2rem;
}

.home .illustration .singpay .blue {
  font-size: 2.0em;
  font-weight: bold;
  color: #032E3C;
}

.home .illustration .singpay .yellow {
  font-size: 2.0em;
  font-weight: bold;
  color: #CBC600;
}