
header {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
}

header .topbar {
  background: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  color: white;
  padding-left: 0.5rem;
}

header .topbar a {
  text-decoration: none;
  color: white;
}

header .topbar .support {
  display: flex;
  flex-direction: row;
  align-items: center;
}

header .topbar .support * {
  padding: 0.5rem;
}


header .main-header .logo {
  width: 4rem;
}

header .main-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  padding: 1rem;
  border-bottom: 1px solid #ccc;
  background: white;
}

header .main-header nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

header .main-header nav a {
  text-decoration: none;
  margin-right: 1.5rem;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
  transition: 0.4s;
}

header .main-header nav a:hover {
  color: #CBC600;
}

header .main-header nav .yellow-button {
  color: white;
}

@media (max-width: 700px) {
  .humberger {
    display: flex;
  }
  
  header .main-header nav {
    height: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.4s;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 99999;
    width: 100vw;
    background: linear-gradient(#ffffff9c, #ffffff9c),
     url(https://images.unsplash.com/photo-1493552152660-f915ab47ae9d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80);
  }
  
  header .main-header .show-nav {
    height: 100vh;
  }
  
  header .main-header .show-nav a {
    display: inline-block;
    margin-bottom: 2rem;
    transition: 0.4s;
  }
  
  header .main-header .show-nav .humberger {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }
}

@media (max-width: 500px) {
  
  header .topbar .email {
    display: none;
  }
}