* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Asap', sans-serif;
  scroll-behavior: smooth;
}


/*Main*/

p {
  line-height: 1.5em;
  text-align: justify;
}

.home {
  margin-top: 6rem;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

section .section-wrapper {
  width: 1124px;
  max-width: 95%;
  padding: 1rem;
}

main .main-wrapper section {
  margin-top: 4rem;
}

h3 {
  color: #940051;
  text-transform: uppercase;
  font-size: 14px;
}

/* dropdown*/

.dropdown {
  display: flex;
  flex-direction: column;
}

.dropdown .dropdown-content {
  height: 0;
  width: 0;
  transition: 0.4s;
  position: absolute;
  overflow: hidden;
  transform: translate(-3rem, 1rem);
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 1px 0.5px 10px #444;
  border-radius: 4px;
  padding: 0;
  height: 6rem;
  width: fit-content;
  margin-right: 10rem;
}

.dropdown:hover .dropdown-content .dropdown-item {
  padding: 1rem;
  color: black;
  font-size: 0.9em;
}

.dropdown:hover .dropdown-content .dropdown-item:hover {
  padding: 1rem;
  color: black;
  background-color: #ccc;
}

.img-container2 {
    width: 400px;
    max-width: 100%;
    overflow: hidden;
    display: flex;
    flex: row;
    justify-content: center;
    align-items: center;
}

.row1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 2rem;
}

.row1 p {
  font-size: 2.0em;
  width: 400px;
  max-width: 100%;
  font-weight: bold;
  text-align: left;
}

.row1 p .created {
  color: #940051;
}

.row1 p .extend {
  color: #CBC600;
}

.img-container2 img {
  width: 600px;
}

/*Button*/

.yellow-button {
  background-color: #CBC600;
  color: white;
  padding: 1rem 4rem;
  display: inline-block;
  text-align: center;
}

.pink-button {
  background-color: #940051;
  color: white;
  padding: 1rem 4rem;
  display: inline-block;
  text-align: center;
  text-decoration: none;
}

/* Section title */

.section-title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1rem;
}

.section-title h1 {
  text-transform: uppercase;
  color: #032E3C;
  font-weight: bold;
  margin-top: 6rem;
  margin-bottom: 0.5rem;
  font-size: 1.3em;
}

.section-title .squares {
  display: flex;
}

.section-title .squares > div {
  width: 0.5rem;
  height: 0.5rem;
  background-color: #5B471D;
  margin-right: 0.5rem;
}

/*humberger*/

.humberger {
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 100px;
  border: 2px solid #CBC600;
  color: #CBC600;
  display: none;
}

.humberger i {
  font-size: 24px;
}

/* Button */

button {
  border: none;
}